[submodule "aseba"]
	path = aseba
	url = https://github.com/aseba-community/aseba.git
[submodule "ChibiOS"]
	path = ChibiOS
	url = https://github.com/e-puck2/ChibiOS_3.1.0.git
[submodule "src/chibios-syscalls"]
	path = src/chibios-syscalls
	url = https://github.com/e-puck2/chibios-syscalls
[submodule "src/cmp"]
	path = src/cmp
	url = https://github.com/e-puck2/cmp
[submodule "src/cmp_mem_access"]
	path = src/cmp_mem_access
	url = https://github.com/e-puck2/cmp_mem_access
[submodule "src/crc"]
	path = src/crc
	url = https://github.com/e-puck2/crc
[submodule "src/parameter"]
	path = src/parameter
	url = https://github.com/e-puck2/parameter
[submodule "src/test-runner"]
	path = src/test-runner
	url = https://github.com/e-puck2/test-runner
[submodule "src/msgbus"]
	path = src/msgbus
	url = https://github.com/e-puck2/msgbus
[submodule "src/serial-datagram"]
	path = src/serial-datagram
	url = https://github.com/e-puck2/serial-datagram.git
